div.jumbotron {
    background: linear-gradient(15deg, #1C3C2F 0%,#A5BDCA 100%) !important;
}
.masthead .btn {
    color: rgb(87, 121, 87) !important;
}
.masthead .btn:hover {
    color: rgb(139, 175, 139) !important;
}
.masthead .navbar-form input.search-query {
    height: 55px;
    margin-bottom: 5px;
    font-size: 30px;
    width: 42%;
    margin-right: 5px;
}
#main-info-container {
    margin-top: 15px;
}
#main-page-footer {
    margin-top: 0;
    position: absolute;
    bottom: 0;
}
